import myspider

class ${projectname}Item(myspider.MyItems):
    """
    Define the fields you need.
    eg.
        test1 = myspider.Field()
        test2 = myspider.Field()
        test3 = myspider.Field()
        ...
    """
    pass
